.scroll3d {
  margin: 0;
  padding: 0;
  background-color: #263238;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.scroll3d section {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  position: relative;
}

.scroll3d section h1 {
  font-size: 7vmin;
  color: #fff;
}

.scroll3d section h2 {
  font-size: 4vmin;
  color: #fff;
}

.scroll3d section:nth-child(odd) {
  justify-content: flex-end;
}


@media screen and (orientation:portrait) {
  .scroll3d section {
    align-items: center;
    justify-content: flex-start;
  }
  .scroll3d section:nth-child(odd) {
    align-items: center;
  }
  .scroll3d section h1 {
    font-size: 7vmin;
    color: #fff;
    margin-bottom: 40vh;
  }

  .scroll3d section h2{
    font-size: 4vmin;
    color: #fff;
    margin-bottom: 6vh;
  }
}