.App {
  /* text-align: center; */
  height: 100%;
}

html, body {
  height: 100%;
}

.lil-gui.autoPlace {
  max-height: 100%;
  position: fixed;
  top: 70px;
  right: 10px;
  z-index: 1001;
}

.load-tip {
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 1001;
}